<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="shortcut icon" href="https://img.icons8.com/?size=200&id=112162&format=png" type="image/x-icon">
</head>
<body>

<div class="container">

    <h1>PASSWORD GENERATOR</h1>
    <p class="sub">The Password Generator Project creates randomly generated strong passwords to enhance data security. A reliable tool with high variability for optimal protection.</p>
    <a href="/menu">
        <button class="btn">Main Menu</button>
    </a>

    <script src="/static/js/script.js"></script>
</div>
</body>
</html>